{% extends 'base.html' %} 
{% block title %} Data Drive System | Home{% endblock title %}

{% block body %}
    <h1>Root Folders</h1>
    <ul>
        {% for folder in root_folders %}
            
            <li>
                <a href="{% url 'folder_detail' folder.id %}">{{ folder.foldername }}</a>
                <form method="post" action="{% url 'folder_delete' folder.id %}">
                    {% csrf_token %}
                    <input type="submit" name="delete_folder" value="Delete">
                </form>
            </li>
        {% endfor %}
    </ul>
    <div>
        <h1>create folder</h1>
        <form method="post" action="{% url 'create_folder' %}">
            {% csrf_token %}
            <input type="text" name="foldername" placeholder="Folder Name" required>
            <input type="submit" value="Create Folder">
        </form>
    </div>
{% endblock body %}
